<nav class="navbar navbar-expand-lg py-2 navbar-light bg-white shadow-sm">
    <div class="container">
        <a href="http://127.0.0.1:5000/" class="navbar-brand">
            <!-- Logo Image -->
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="font-weight-bold">Yüz tanıma</span>
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
